<!-- The create song view -->

<section data-ng-controller="SongsController">
	<h1>New Song</h1>
	<!-- The new song form -->
	<form data-ng-submit="create()" novalidate>
		<div>
			<label for="title">Title</label>
			<div>
				<input type="text" data-ng-model="title" id="title" placeholder="Title" required>
			</div>
		</div>
		<div id="notebin">
		    <div id="note1" class="note">
		        <img src="img/1.gif">
		    </div>
		    <div id="note2" class="note">
		         <img src="img/2.gif">
		    </div>
		    <div id="note3" class="note">
		         <img src="img/3.gif">
		    </div>
		    <div id="note4" class="note">
		         <img src="img/4.gif">
		    </div>
		    <div id="note5" class="note">
		         <img src="img/5.gif">
		    </div>
		    <div id="note6" class="note">
		         <img src="img/6.gif">
		    </div>
		    <div id="note7" class="note">
		         <img src="img/7.gif">
		    </div>
		    <div id="note8" class="note">
		         <img src="img/8.gif">
		    </div>
		</div>
		<div>
			<label for="content">Notes</label>
			<div>
				<textarea data-ng-model="content" id="content" cols="30" rows="10" placeholder="Content"></textarea>
			</div>
		</div>
		<div class="main">
	    <div ng-repeat="stuff in stuffs"><h1>{{title}}</h1> <p>{{content}}</p></div>
	 </div>
		<div id="sheetmusic"></div>
		<div id="results"></div>
		<div>
			<input type="submit">
		</div>
		<!-- The error message element -->
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
</section>
